@tailwind base;
@tailwind components;
@tailwind utilities;

.create-party-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.create-party-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.create-party-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.create-party-form button:hover {
    background-color: #0056b3;
}



.join-party-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.join-party-form input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

.join-party-form button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.join-party-form button:hover {
    background-color: #0056b3;
}
